@import "tailwindcss";

/*  Define your design system tokens here */

@theme {
	/* BREAKPOINTS */
	--breakpoint-sm: 480px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 976px;
	--breakpoint-xl: 1440px;



	/* =============================
     BRAND COLORS
  ============================== */

	/* PRIMARY COLOR (Muted Taupe) */
	--color-primary-400: #F79E1C;
	--color-primary-300: #f9e3b6;
	--color-primary-200: #faebc8;
	--color-primary-100: #fef8e8;

	/* SECONDARY COLOR (Caramel) */
	--color-secondary-400: #FBDBA0;
	--color-secondary-300: #d29556;
	--color-secondary-200: #e7b278;
	--color-secondary-100: #f0d5b0;

	/* SHADOW / BACKGROUND COLOR (Light Buttermilk) */
	--color-shadow-400: #9E5413;
	--color-shadow-300: #f8f6ec;
	--color-shadow-200: #fcfaf3;
	--color-shadow-100: #fefdf9;

	/* ACCENT COLOR (Warm Coral) */
	--color-accent-400: #9E5413;
	--color-accent-300: #f3897b;
	--color-accent-200: #f7a79b;
	--color-accent-100: #f9c9c2;

	/* NEUTRAL COLORS (Grays) */

	--color-gray-100: #ffffff;
	--color-gray-200: #D6D6D6;
	--color-gray-300: #B3B3B3;
	--color-gray-400: #8F8F8F;
	--color-gray-500: #6B6B6B;
	--color-gray-600: #474747;
	--color-gray-700: #242424;
	--color-gray-800: #000000;

	/* =============================
     SEMANTIC COLORS
  ============================== */

	/*  Success (Soft Green) */
	--color-success: #6BAA75;

	/*  Error (Muted Coral Red) */
	--color-error: #C85A5A;

	/*  Warning (Amber Warm) */
	--color-warning: #E8A865;

	/*  Info (Muted Slate Blue) */
	--color-info: #4A8095;

	/* FONT FAMILY */
	--font-figtree: var(--font-figtree, Figtree, sans-serif);

	/* FONT SIZES */
	--text-h1-desktop: 65px;
	--text-h2-desktop: 50px;
	--text-h3-desktop: 30px;
	--text-h4-desktop: 28px;
	--text-p-desktop: 18px;

	--text-h1-mobile: 32px;
	--text-h2-mobile: 30px;
	--text-h3-mobile: 28px;
	--text-h4-mobile: 24px;
	--text-p1-mobile: 18px;
	--text-p2-mobile: 16px;

	--backdrop-blur-13: 1.5px;

}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scroll-snap-align-center {
	scroll-snap-align: center;
}